/* Essential */

/* Jumbotron  */
.jumbotron {
    background-image: url(../images/portfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }