/* Essential */
h1, h2 {
    text-align: center;
}

/* Hero */
.hero {
    margin: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Main */
main {
    margin: 50px;
}

.title {
    margin: 50px;
}


/* About */
.about {
    margin: 50px;
}


/* Jumbotron */
.jumbotron {
    background-image: url(../images/portfolio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 300px);
    color: white;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Footer */
  footer {
    text-align: center;
    margin: 50px;
  }

  footer a:hover {
        background-color: #f8f9fa;
  }